<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="seq" resultType="Long">
		SELECT board_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertBoard" parameterType="com.sp.app.board.Board">
		INSERT INTO board(boardNum, userId, subject, content, groupNum, 
			depth, orderNo, parent, hitCount, reg_date)
		VALUES (#{boardNum}, #{userId}, #{subject}, #{content},
			#{groupNum}, #{depth}, #{orderNo}, #{parent}, 0, SYSDATE) 
	</insert>
	
	<sql id="where-list">
		<if test="condition=='all' ">
			( INSTR(subject, #{keyword}) &gt; 0
				OR DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='subject' ">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content' ">
			DBMS_LOB.INSTR(content, #{keyword}) &gt; 0
		</if>
		<if test="condition=='userName' ">
			userName=#{keyword}
		</if>
		<if test="condition=='reg_date' ">
			( TO_CHAR(b.reg_date, 'YYYY-MM-DD') = #{keyword}
				OR TO_CHAR(b.reg_date, 'YYYYMMDD') = #{keyword} )
		</if>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM board b
		JOIN member1 m ON b.userId=m.userId
		<where>
			<if test="keyword!=null and keyword != '' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listBoard" parameterType="map" resultType="com.sp.app.board.Board">
		SELECT boardNum, userName, b.userId, subject, reg_date,
				hitCount, groupNum, orderNo, depth
		FROM board b
		JOIN member1 m ON b.userId=m.userId
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY groupNum DESC, orderNo ASC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="readBoard" parameterType="Long" resultType="com.sp.app.board.Board">
		SELECT boardNum, b.userId, userName, subject, content, groupNum, 
				depth, orderNo, parent, reg_date, hitCount
		FROM board b
		JOIN  member1 m ON b.userId = m.userId
		WHERE boardNum = #{boardNum}                       
	</select>
	
	<update id="updateHitCount" parameterType="Long">
		UPDATE board SET hitCount = hitCount+1 WHERE boardNum = #{boardNum}
	</update>
	
	<select id="preReadBoard" parameterType="map" resultType="com.sp.app.board.Board">
		SELECT boardNum, subject
		FROM board b
		JOIN member1 m ON b.userId = m.userId
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
			<![CDATA[
				AND ( (groupNum = #{groupNum} AND orderNo < #{orderNo})
					  OR (groupNum > #{groupNum}) )
			]]>
		</where>
		ORDER BY groupNum ASC, orderNo DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="nextReadBoard" parameterType="map" resultType="com.sp.app.board.Board">
		SELECT boardNum, subject
		FROM board b
		JOIN member1 m ON b.userId = m.userId
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
			<![CDATA[
				AND ( (groupNum = #{groupNum} AND orderNo > #{orderNo})
					  OR (groupNum < #{groupNum}) )
			]]>
		</where>
		ORDER BY groupNum DESC, orderNo ASC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<update id="updateOrderNo" parameterType="map">
		UPDATE board SET orderNo=orderNo+1
		WHERE groupNum=#{groupNum} AND orderNo &gt; #{orderNo}
	</update>
	
	<update id="updateBoard" parameterType="com.sp.app.board.Board">
		UPDATE board SET subject=#{subject}, content=#{content}
		WHERE boardNum = #{boardNum} AND userId = #{userId}
	</update>
	
	<delete id="deleteBoard" parameterType="Long">
		DELETE FROM board WHERE boardNum IN
			( SELECT boardNum FROM board START WITH boardNum = #{boardNum}
				CONNECT BY PRIOR boardNum = parent )
	</delete>
</mapper>