<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inquiry">
	<insert id="insertInquiry" parameterType="com.sp.app.inquiry.Inquiry">
		INSERT INTO inquiry(num, userId, category, subject, content, reg_date)
		VALUES (inquiry_seq.NEXTVAL,#{userId}, #{category}, #{subject}, #{content}, SYSDATE)
	</insert>

	<sql id="where-list">
		<if test="condition=='all' ">
			( INSTR(subject, #{keyword}) &gt; 0 
				OR INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='subject'">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content'">
			DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 
		</if>
		<if test="condition=='userName'">
			userName=#{keyword}
		</if>
		<if test="condition=='userId'">
			INSTR(i.userId, #{keyword}) = 1
		</if>
		<if test="condition=='reg_data'">
			( TO_CHAR(i.reg_date, 'YYYY-MM-DD') = #{keyword}
				OR TO_CHAR(i.reg_date, 'YYYYMMDD') = #{keyword} )
		</if>
	</sql>

	<!-- 글개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM inquiry i
		JOIN member1 m ON i.userId=m.userId
		<where>
			i.userId = #{userId}
			<if test="keyword!=null and keyword!='' ">
				AND <include refid="where-list"/>
			</if>
		</where>   
	</select>

	<!-- 글리스트 -->
    <select id="listInquiry" parameterType="map" resultType="com.sp.app.inquiry.Inquiry">
		SELECT num, i.userId, userName, category, subject,
			   TO_CHAR(reg_date, 'YYYY-MM-DD') reg_date, answer_date
		FROM inquiry i
		JOIN member1 m ON i.userId=m.userId
		<where>
			i.userId = #{userId}
			<if test="keyword!=null and keyword!='' ">
				AND <include refid="where-list"/>
			</if>
		</where>   
		ORDER BY num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
    
	<!-- 글보기 -->
	<select id="readInquiry" resultType="com.sp.app.inquiry.Inquiry" parameterType="Long">
		SELECT num, i.userId, m.userName, category, subject, content, 
				reg_date, answerId, a.userName answerName, answer, answer_date
		FROM inquiry i
		JOIN member1 m ON i.userId=m.userId
		LEFT OUTER JOIN member1 a ON i.answerId = a.userId
		WHERE num = #{num}
	</select>

	<!-- 삭제 -->
	<delete id="deleteInquiry" parameterType="Long">
		DELETE FROM inquiry WHERE num = #{num}
	</delete>
</mapper>