<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productCategory">
    <select id="getAllCategories" resultType="com.sp.app.domain.product.ProductCategory">
        SELECT pc.product_category_id AS porudctCategoryId,
               pc.parent_category_id AS parentCategoryId,
               pc.category_name AS categoryName,
               LEVEL AS categoryLevel
        FROM product_category pc
        START WITH pc.parent_category_id IS NULL
        CONNECT BY PRIOR pc.product_category_id = pc.parent_category_id
        ORDER SIBLINGS BY pc.product_category_id
    </select>

    <select id="getChildCategories" parameterType="Long" resultType="com.sp.app.domain.product.ProductCategory">
        SELECT product_category_id AS productCategoryId, parent_category_id AS parentCategoryId, category_name AS categoryName, 1 AS categoryLevel
        FROM product_category
        <if test="parentCategoryId == null">
            WHERE parent_category_id IS NULL
        </if>
        <if test="parentCategoryId != null">
            WHERE parent_category_id = #{parentCategoryId, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getAllCategoryHierarchy" resultType="com.sp.app.domain.product.ProductCategory">
        SELECT pc.product_category_id AS ProductCategoryId,
        pc.parent_category_id AS parentCategoryId,
        pc.category_name AS categoryName,
        LEVEL AS categoryLevel
        FROM product_category pc
        START WITH pc.parent_category_id IS NULL
        CONNECT BY PRIOR pc.product_category_id = pc.parent_category_id
        ORDER SIBLINGS BY pc.product_category_id
    </select>

</mapper>

