<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seller">
<!-- 판매자 회원가입 -->
	<insert id="insertSeller" parameterType="com.sp.app.domain.seller.Seller">
		INSERT INTO seller (seller_id, brand_name,password,business_number,seller_name,tel,email,representative_name,presentation)
		VALUES (SEQ_SELLER.NEXTVAL,#{brandName}, #{password}, #{businessNumber}, #{sellerName}, #{tel}, #{email}, #{representativeName}, #{presentation})	
	</insert>
	
<!-- 판매자 정보 수정 -->	
	<update id="updateSeller" parameterType="com.sp.app.domain.seller.Seller">
		UPDATE SELLER SET brand_name=#{brandName, jdbcType=VARCHAR}, password=#{password, jdbcTYPE=VARCHAR},
			seller_name=#{sellerName, jdbcType=VARCHAR},tel=#{tel, jdbcType=VARCHAR},
			email=#{email, jdbcType=VARCHAR}, representative_name=#{representativeName, jdbcType=VARCHAR},
			presentation=#{presentation, jdbcType=VARCHAR}
		WHERE seller_id=#{sellerId}	
	</update>
<!-- 판매자 테이블 정보 삭제 -->
	<delete id="deleteSeller" parameterType="Long">
		DELETE FROM seller WHERE seller_id=#{sellerId}
	</delete>
	
</mapper>