<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">
	
	<!-- 장바구니 담기 -->
	<insert id="insertCart" parameterType="com.sp.app.domain.cart.Cart">	
		<selectKey keyProperty="cartId" resultType="Long" order="BEFORE">
            SELECT SEQ_CART.NEXTVAL as cartId FROM DUAL
        </selectKey>
		INSERT INTO cart(cart_id,member_id,product_id,reg_date) 
    			VALUES(#{cartId},#{memberId},#{productId},SYSDATE)
	</insert>
	
	<!-- 상품별 옵션 담기 -->
	<insert id="insertCartStock" parameterType="com.sp.app.domain.cart.CartOptionMap">
		INSERT INTO cart_stock_bundle(cart_id,stock_id,quantity) VALUES (#{cartId},#{stockId},#{quantity})
	</insert>
	
	<!-- 장바구니 리스트(회원 별) -->
	<select id="selectList" parameterType="Long" resultType="com.sp.app.domain.cart.Cart">
		SELECT c.cart_id cartId, c.member_id memberId, c.product_id productId,
			    p.product_name productName, p.price price,
			    sl.brand_name brandName,
			    discount_percent discountPercent, 
			    delivery_cost deliveryCost,
		        pi.save_name saveName
		FROM cart c
		JOIN member m ON m.member_id = c.member_id
		JOIN product p ON c.product_id = p.product_id
		JOIN product_img pi ON p.product_id = pi.product_id
		JOIN seller sl ON p.seller_id = sl.seller_id
		WHERE pi.sequence = 0 AND pi.type = 0 AND m.member_id = #{memberId}
		ORDER BY c.reg_date DESC
	</select>
 	
 	<!-- 상품 옵션 가격 가져오기 -->
 	<select id="selectStockPrice" parameterType="Long" resultType="Long">
	 	select OPTION_PRICE
		from STOCK s JOIN CART_STOCK_BUNDLE CSB on s.STOCK_ID = CSB.STOCK_ID
		where s.STOCK_ID = #{stockId}
 	</select>
 	
 	
	<!-- 하나의 상품 별 선택한 전체 옵션 -->

	<select id="selectListStock" parameterType="Long" resultType="com.sp.app.domain.cart.CartOptionMap">
		select stock_id stockId, quantity from cart_stock_bundle where cart_id = #{cartId}
	</select>

	
	<!-- 장바구니 삭제 (옵션전체다 삭제)-->
	<delete id="deleteCart" parameterType="java.util.List">
		DELETE FROM cart WHERE cart_id IN
				<foreach item="cartId" index="index" collection="list"
						open="(" separator="," close=")">
					#{cartId}
				</foreach>
	</delete>
	
	<!-- 장바구니 삭제(상품 당 옵션하나만 삭제)-->
<!--	<delete id="deleteCartStock" parameterType="java.util.List">-->
<!--		DELETE FROM cart_stock_bundle WHERE stock_id = #{stockId} AND product_id = #{productId}-->
<!--	</delete>-->
	
	<update id="updateQuantity" parameterType="map">
			UPDATE cart_stock_bundle SET quantity = #{quantity} WHERE stock_id = #{stockId} AND cart_id = #{cartId}
	</update>
	
	<!-- 장바구니담기전 재고 체크 0이면 재고 없음-->
	<select id="checkQuantity" parameterType="map" resultType="Integer">
	<![CDATA[
		select COUNT(*) 
		from stock
		where stock_id = #{stockId} AND #{quantity} <= quantity - #{quantity}
	]]>
	</select>

	<!-- 장바구니에 담긴 상품인지 확인 - 있으면 quantity 이 없음 -->
	<select id="checkCartProduct" parameterType="map" resultType="Integer">
		SELECT quantity
		FROM cart c
        JOIN cart_stock_bundle csb ON c.cart_id = csb.cart_id
		where c.member_id= #{memberId} AND stock_id = #{stockId}
	</select>
	
	<select id="checkCart" parameterType="map" resultType="Long">
		SELECT CART_ID FROM CART WHERE MEMBER_ID = #{memberId} AND PRODUCT_ID = #{productId}
	</select>
		
</mapper>